* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  
}

body {
  /* TODO */
  margin: 0px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, yellow, orangered);
}

input {
 /* TODO */
 background-color: rgba(255, 255, 255, 0.5);
 border-color: rgba(255, 255, 255, 0.5);
 padding: 10px;
}

.search-container {
 /* TODO */
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  

}
.search-container input {
 /* TODO */
 width: 300px;
}
.search-container .suggestions {
   /* TODO */

}

ul {
  /* TODO */
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
 padding: 0;
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  /* TODO */
  background-color: none;
 padding: 10px 5px;
 list-style: none;
}
ul li:hover {
  /* TODO */
  background-color: orangered;
  cursor: pointer;
}

input {
   /* TODO */
}